*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{display: flex; align-items: center; justify-content: center; background-color: gray; user-select: none;}

.Block{width: 100%; height: 150px; position: absolute;}

.P {display: flex; align-items: center; justify-content: space-between;  position: absolute; top: 15px; right: 10px; width: 160px; font-size: 12px; font-family:'Press Start 2P', swap; color: rgb(90, 90, 90);}

.Box{min-width: 600px; height: 150px; border: 2px black solid; position: absolute; background-color: azure; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.Bottons{min-width: 600px; height: 90px; position: absolute; top: 120px; overflow: hidden; display: flex; align-items: center; }
.Left{position: absolute; left: 50px;}.Right{position: absolute; right: 50px;}
.Button{width: 80px; height: 80px; border: 2px black solid; border-radius: 50%; background-color: aliceblue; display: flex; align-items: center; justify-content: center;}
.Earth{width: 100%; height: 1px; background-color: black; position: absolute; bottom: 30px;}
.Dino_Box{width: 44px; height: 47px; position: absolute; bottom: 20px; left: 30px;}
.Dino_Box_B{width: 59px; height: 30px; position: absolute; bottom: 20px; left: 0;}
.Dino_Body{position: absolute; display: flex;}
.None{display: none;}
.Kaktyz{position: absolute; display: block; bottom: 20px; left: 800px; user-select: none; z-index: 2;}

.Counter{color: black;}

@keyframes Color {
	0%{color: black;}
	50%{color: white;}
	100%{color: black;}
}